* {
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;  /*the bottom margin is the negative value of the footer's height */
}

.footer-padding {
    height: 40px;
}

.push {
    height: 80px;
    clear: both;
}

.footer {
    height: 80px; /* .push must be the same height as .footer */
    clear: both;
    background-color: #252525;
    color: white;
}

.footer-item {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.footer-item:hover {
    color: white;
    text-decoration: underline;
}

.pull-right .container {
    margin-top: 20px;
    display: table;

    .footer-icon {
        display: table-cell;
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }
}