body {
    background-color: #f9f9f9;
}

/*info-col CSS*/

.info-col {
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    background-color: white;
}

.info-title {
    font-size: 24px;
    padding-top: 15px;
    color: #2a56a3;
}

.sub-heading {
    color: #7a7a7a;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d8d8d8;
}

.chosen-select {
    width: 100%;
}

.delete_person {
    margin-top: 5px;
    cursor: pointer;
}

.input-label {
    margin-top: 5px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 15px;
}

.input-row {
    margin-bottom: 15px;
}

.person-row {
    padding-bottom: 10px;
}

.input-row .person-row:last-of-type {
    padding-bottom: 5px;
}

.person-label {
    font-weight: 600;
    margin-top: 5px;
}

.age-label {
    margin-top: 5px;
}

.input-row .btn-group-vertical, .input-row .btn-group {
    width: 100%;
}

.input-row .btn-group.btn-medal .btn{
    margin-top: -1px;
    width: 50%;
}

/*data-col CSS*/
.plan-col {
    padding-bottom: 20px;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-right: 0;
}

.plan-col:last-of-type {
    border-right: 1px solid #d8d8d8;
}

.plan-name {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    /*color: #2a56a3;*/
}

.medal {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.medal.gold {
    background-color: #e0be00;
    color: white;
}

.medal.silver {
    background-color: #a7a7a7;
    color: white;
}

.you-saved {
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    margin-bottom: -10px;
}

.money-saved {
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: #2fcfaa;
    border-bottom: 1px dotted #d8d8d8;;
}

.money-saved .slash-year {
    font-size: 22px;
}

.plan-details {
    padding-top: 10px;
}

.wheel-header {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

/* home/medical-popover.html styling */

.popover {
    max-width: 700px;
}
.medical-tip {
    width: 400px;
    margin-bottom: 10px;
}

.medical-container .frequency{
    font-weight: 600;
}

.medical-container .visit-num {
    font-weight: bold;
}