$bronze: #a46628;
$silver: #dadada;
$gold: #ffdb4a;
$platinum: #f6f6f4;
$catastrophic: #aec7e8;
$tablet: 800px;
$transitionTime: 0.5s;

body {
    background-color: #f9f9f9;
}

.hide-me {
  display: none;
}

.value {
	font-weight: 600;
  text-align: right;
}

.popover-body {
	width: 250px;
}
/*info-col CSS*/


.info-col {
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    background-color: white;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
      overflow: hidden;
      white-space: nowrap;
      -webkit-transition: width $transitionTime, padding $transitionTime, border $transitionTime;
      -moz-transition: width $transitionTime, padding $transitionTime, border $transitionTime;

      .sub-heading {
        white-space: normal;
      }
    }

    &.info-col-hidden {
      border: 0;
      padding: 0;
      width: 0;

      .sub-heading {
        white-space: nowrap;
      }
    }

    .heading {
      .info-title {
        font-size: 24px;
        padding-top: 15px;
        color: #2a56a3;
      }

      .sub-heading {
        color: #7a7a7a;
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #d8d8d8;
      }
    }

    .input-row {
      margin-bottom: 15px;

      .input-label {
          margin-top: 5px;
          /*text-transform: uppercase;*/
          font-weight: bold;
          font-size: 15px;
      }

      .no-zip-code {
        margin-top: 5px;
        font-size: 15px;
        color: red;
        height: 0px;
        overflow: hidden;
        -webkit-transition: height $transitionTime/2;
        -moz-transition: height $transitionTime/2;

        &.show {
          height: 40px;

          @media only screen 
          and (min-device-width : 768px) 
          and (max-device-width : 1024px) {
            height: 20px;
          }
        }
      }

      .chosen-select {
          width: 100%;
      }
      .person-row {
        padding-bottom: 10px;
        .delete_person {
            margin-top: 5px;
            margin-left: -15px;
            cursor: pointer;
        }
        .person-label {
            font-weight: 600;
            margin-top: 5px;
        }
        .age-label {
            margin-top: 5px;
        }
        &:last-of-type {
            padding-bottom: 5px;
        }
      }
      .btn-group-vertical, .btn-group {
          width: 100%;
          &.btn-medal .btn{
            width: 50%;
            &#bronze {
              &:hover, &.active {
                border: 1px solid $bronze;
                background-color: $bronze;
              }
            }
            &#silver {
              &:hover, &.active {
                border: 1px solid $silver;
                background-color: $silver;
              }
            }
            &#gold {
              &:hover, &.active {
                border: 1px solid $gold;
                background-color: $gold;
              }
            }
            &#platinum {
              &:hover, &.active {
                border: 1px solid $platinum;
                background-color: $platinum;
              }
            }
          }
          &#catastrophic-group {
            #catastrophic {
              &:hover, &.active {
                border: 1px solid $catastrophic;
                background-color: $catastrophic;
              }
            }
          }
      }
  }
}


/*data-col CSS*/

.plan-parent {

  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: opacity $transitionTime;
  -moz-transition: opacity $transitionTime;

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
       // seems redundant but needed because we dont want width to have transition time for non-mobile in case user is resizing window
      -webkit-transition: width $transitionTime, opacity $transitionTime;
      -moz-transition: width $transitionTime, opacity $transitionTime;

  }

  &.no-data {
    opacity: 0.4;
  }

  &.plan-parent-show {
    width: 100%;
  }

  .plan-col {
    padding-bottom: 20px;
    border: 1px solid #ebebeb;
    background-color: white;
    display: inline-block;

    @media only screen and (max-width: 768px) { // needed to match bootstrap resolution breakpoint for xs styles
      min-width: 340px;
    }

    .zero {
      color: #777b7e !important;
    }

    .section-header {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      background-color: #e7e7e7;
    }

    .plan-name {
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        padding-top: 10px;
        /*color: #2a56a3;*/
    }
    .medal {
      text-align: center;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      &.bronze {
        background-color: $bronze;
        color: white;
      }
      &.silver {
          background-color: #a7a7a7;
          color: white;
      }
      &.gold {
          background-color: #e0be00;
          color: white;
      }
      &.platinum {
        background-color: $platinum;
      }
    }
    .monthly-premium-title {
      font-size: 18px;
      text-align: center;
      font-weight: 300;
      margin-bottom: -12px;
    }
    .monthly-premium {
      text-align: center;
      font-size: 46px;
      font-weight: 300;
      //color: #2fcfaa;
      border-bottom: 1px dotted #d8d8d8;
    }
    .plan-costs {
      padding-top: 10px;
      .estimated-number {
        font-size: 28px;
        font-weight: 300;
      }
      .cost-detail {
        padding: 5px 0;
        float: left;
        display: block;
        width: 100%;
        &.none {
          visibility: hidden;
        }
        .value {
          font-weight: 600;
        }
      }
    }

    .example-procedure {
      margin: 5px -15px 0 -15px;
      padding: 5px 15px;
      text-align: center;
      background-color: #ecf1fa;
      //fancySelect css override
      .title {
        //text-align: left;
        margin-bottom: -8px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
      }
      .select-wrap{
        margin-top: 10px;
        display: inline-block;
        text-align: left;
        overflow: visible;
        .trigger {
          background-color: white;
        }
        .options {
        	z-index: 99999999;
          padding-left: 0;
          background-color: white;
          border-top: 0;
          &.open {
            top: 40px;
          }
          li {
            color: #4B5468;
            &.selected {
              background-color: #c3d3f0;
            }
            &.hover {
              color: white;
              background-color: #2a56a3;
              -webkit-transition: 0.1s ease-in;
              -moz-transition: 0.1s ease-in;
              -ms-transition: 0.1s ease-in;
              -o-transition: 0.1s ease-in;
              transition: 0.1s ease-in;
            }
          }
        }
      } //end select-wrap
      .procedure-breakdown {
        margin-top: 5px;
        overflow: auto;
        font-size: 12px;
        font-weight: 600;
        .total {
          float: left;
        }
        .you-pay {
          float: right;
        }
      }
    }

    .plan-details {
      margin-top: 10px;
      .detail {
        padding-top: 10px;
        overflow:hidden;
        .title {
          float: left;
          z-index: 999;
        }
      }
    }

    .learn-more {
      margin-top: 15px;
      width: 100%;
    }
  }
}

/* home/medical-popover.html styling */
  .popover {
    max-width: 700px;
    .medical-container {
      .medical-tip {
        width: 400px;
        margin-bottom: 10px;
      }
      .frequency{
        font-weight: 600;
      }
      .visit-num {
        font-weight: bold;
      }
    }
  }

/* modal styling */
.plan-modal {
  .modal-dialog {
    .modal-body {
      .monthly-payment {
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        margin-top: -10px;
        padding-bottom: 20px;
        //border-bottom: 1px dotted #d8d8d8;
        .cost {
          font-size: 52px;
          color: #2fcfaa;
          margin-top: -10px;
          padding-bottom: 10px;
        }
      }

      .medal {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
        &.bronze {
          background-color: $bronze;
          color: white;
        }
        &.silver {
            background-color: #a7a7a7;
            color: white;
        }
        &.gold {
            background-color: #e0be00;
            color: white;
        }
        &.platinum {
          background-color: $platinum;
        }
      }

      .standard-benefits {
        margin-top: 20px;
        .title {
          font-size: 16px;
          margin-bottom: 15px;
          text-align: center;
        }
        table {
          font-size: 14px;
          .table-label {
            font-weight: 600;
            color: #5c6b7e;
          }
          .data {
            .sub-text {
              color: #5c6b7e;
              display: inline-block;
              padding-left: 5px;
              font-style: italic;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

#seeMoreButtonWrapper {
  cursor: pointer;
  position: fixed;
  left: 100%;
  top: 40%;

  #seeMoreButton {
    position: relative;
    left: -50px;
    -webkit-transition: left $transitionTime;
    -moz-transition: left $transitionTime;

    &.button-hidden {
      left: 0px;
    }
  }
}

#seeLessButtonWrapper {
  cursor: pointer;
  position: fixed;
  top: 40%;

  #seeLessButton {
    position: relative;
    left: 0px;
    -webkit-transition: left $transitionTime;
    -moz-transition: left $transitionTime;

    &.button-hidden {
      left: -50px;
    }
  }
}