{% extends "base.html" %}

{% block head %}
    {% load scss %}
    <link href="{{ STATIC_URL }}{% scss 'scss/information.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        About
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-question fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="caption">Learn more about us!</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container middle-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="heading">What do we do?</div>
                <div class="heading-caption">
                    We aim to find the best health insurance upon your needs.
                    We aim to find the best health insurance upon your needs.
                    We aim to find the best health insurance upon your needs.
                    We aim to find the best health insurance upon your needs.
                </div>

                <div class="small-heading">How do we do it?</div>
                <div class="small-heading-caption">
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                </div>

                <div class="small-heading">How are we different?</div>
                <div class="small-heading-caption">
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                    We make sure to extensively find stuff and stuff.
                </div>
            </div>
        </div>
    </div>
{% endblock %}