{% extends "base.html" %}

{% block head %}
    {% load scss %}
    <link href="{{ STATIC_URL }}{% scss 'scss/information.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        About
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-question fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="caption">Learn more about us!</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container middle-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="heading">What do we do?</div>
                <center><div class="heading-caption">
                    We aim to help you find the best health insurance with the most value.
                </div></center>

                <div class="small-heading">How do we do it?</div>
                <div class="small-heading-caption">
                    By utilizing health insurance data and your basic information anonymously,
                    we use advanced algorithms and data analytics to calculate your yearly healthcare expenses
                    and recommend the best plan for you based on the lowest expected total annual cost.
                </div>

                <div class="small-heading">How are we different?</div>
                <div class="small-heading-caption">
                    Our solution helps you make the best decision by providing transparency regarding health insurance.
                    We are highly focused on user experience, both on mobile tablets and on desktop. We have talented engineers and designers
                    with experience working at Google, LinkedIn, and Cisco. We also have experts in the field as our mentors, and we're
                    looking to solve our own problem to empower consumers to find the best plan with the greatest value.
                </div>
            </div>
        </div>
    </div>
{% endblock %}