<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- note: not using local bootstrap css file to save server requests -->
    <link href="{{ STATIC_URL }}css/navbar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/footer.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="wrapper"><!-- wrapper class for footer -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url home %}">Athemo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="{% url household_info %}">Learn</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer-padding"></div>
    <div class="push"></div>
</div>
<div class="footer">
    <div class="container">
        <div class="pull-left">
            <a href="#"><div class="footer-item">About</div></a>
            <a href="#"><div class="footer-item">Contact</div></a>
            <a href="#"><div class="footer-item">Team</div></a>
            <a href="#"><div class="footer-item">Terms</div></a>
            <a href="#"><div class="footer-item">Donate</div></a>
        </div>
        <div class="pull-right">
            <div class="footer-item">Like us on Facebook</div>
            <div class="footer-item">Follow us on Twitter</div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/external/chosen.jquery.min.js" type="text/javascript"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
