{% extends "base.html" %}

{% block content %}
<div class="row">
		<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-12 col-md-12">
				<div class=" col-xs-10 col-sm-10 col-md-10 well">
						<h2>Household Information</h2>
						<p class="sub_heading">Determine your eligibility for different health insurance plans.</p>
						<form method="POST">
						<div class="category side-item">Zip Code: </div>
						<input type="text" id="zip-code" class="form-control" style="width:150px" />
						<div class="category side-item">Number of people in household:</div>
						<input type="text" id="household-count" class="form-control" style="width:150px" />
						<div class="category side-item">Household Income (Annual)</div>
						<input type="text" class="form-control" style="width:150px;" />
						<div class="category side-item">Number of dependents (&lt; 18 years old):</div>
						<div class="btn-group">
								<button type="button" class="btn btn-default">0</button>
								<button type="button" class="btn btn-default">1</button>
								<button type="button" class="btn btn-default">2</button>
								<button type="button" class="btn btn-default">3+</button>
						</div>
						<br />
						<br />
						<button type="button" class="btn btn-primary">Next</button>
				</div>
		</div>
</div>
{% endblock %}