{% extends "base.html" %}

{% block head %}
    {% load scss %}
    <link href="{{ STATIC_URL }}{% scss 'scss/home.scss' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
    <script id="medical-embed">{% include "home/medical-popover.html" %}</script>
    <script id="prescription-embed">{% include "home/prescription-popover.html" %}</script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#medical-popover").popover({
            trigger: "hover focus",
            title: "Medical Visit Estimates",
            placement: "top",
            html: true,
            content: $("#medical-embed").html()
        });

        $("#prescription-popover").popover({
            trigger: "hover focus",
            title: "Prescription Use Estimates",
            placement: "top",
            html: true,
            content: $("#prescription-embed").html()
        });
    })
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 info-col standard-col">
            <div class="info-title">Find Health Insurance</div>
            <p class="sub-heading">Enter basic information so we can help find you plans.</p>

            <div class="input-row">
                <div class="input-label">State</div>
                <select data-placeholder="Choose a State" class="chosen-select">
                    <option></option>
                    <option value="california">CA</option>
                    <option value="arizona">AZ</option>
                </select>
            </div>

            <div class="input-row">
                <div class="input-label">Annual Household Income</div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                    <input type="text" class="form-control" placeholder="50000">
                </div>
            </div>

            <div class="input-row">
                <div class="input-label household">Household Information</div>
                <div id="person_rows">
                    <div id="person_0" class="row person-row">
                        <div class="col-md-4 person-label">Person 1</div>
                        <div class="col-md-2 age-label">Age</div>
                        <div class="col-md-5">
                            <div >
                                <input type="text" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="add_person" href="#">+ Add Person</a>
            </div>

            <div class="input-row">
                <div class="input-label">Household Medical Visits a Year</div>
                <input type="text" class="form-control" placeholder="10" />
                <div class="help-text">
                    <a id="medical-popover" class="false-link">
                        Need some estimates?
                    </a>
                </div>
            </div>

            <div class="input-row">
                <div class="input-label">Household Prescription Use</div>
                <input type="text" class="form-control" placeholder="2" />
                <div class="help-text">
                    <a id="prescription-popover" class="false-link">
                        Need some estimates?
                    </a>
                </div>
            </div>

            <div class="input-row">
                <div class="input-label">Plan type</div>
                <div class="btn-group-vertical btn-group-sm">
                    <button id="all-plans" type="button" class="btn btn-default">All Plans</button>
                </div>
                <div class="btn-group btn-group-sm btn-medal">
                    <button type="button" class="btn btn-default">Bronze</button>
                    <button type="button" class="btn btn-default">Silver</button>
                </div>
                <div class="btn-group btn-group-sm btn-medal">
                    <button type="button" class="btn btn-default">Gold</button>
                    <button type="button" class="btn btn-default">Platinum</button>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="col-md-4 plan-col standard-col">
                <div class="plan-name">Anthem Blue Cross</div>
                <div class="medal silver">Silver</div>
                <div class="you-saved">You Save</div>
                <div class="money-saved">$1400<span class="slash-year">/year</span></div>

                <div class="plan-details">
                    <br>
                    <div class="wheel-header">Estimated Cost</div>
                    <center>
                        <div class="estimated-cost-donut">

                        </div>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <div class="wheel-header">Savings</div>
                    <div class="red-cost" style="color: #2fcfaa; text-align: center; font-size: 40px; font-weight: 300;">+$3900</div>
                    <center>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <button class="btn btn-primary btn-lg" style="width: 100%;">Learn More</button>
                </div>
            </div>
            <div class="col-md-4 plan-col standard-col">
                <div class="plan-name">Anthem Blue Cross</div>
                <div class="medal gold">Gold</div>
                <div class="you-saved">You Save</div>
                <div class="money-saved">$1400<span class="slash-year">/year</span></div>

                <div class="plan-details">
                    <br>
                    <div class="wheel-header">Estimated Cost</div>
                    <div class="red-cost" style="color: #b00; text-align: center; font-size: 40px; font-weight: 300;">-$2500</div>
                    <center>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <div class="wheel-header">Savings</div>
                    <div class="red-cost" style="color: #2fcfaa; text-align: center; font-size: 40px; font-weight: 300;">+$3900</div>
                    <center>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <button class="btn btn-primary btn-lg" style="width: 100%;">Learn More</button>
                </div>
            </div>
            <div class="col-md-4 plan-col standard-col">
                <div class="plan-name">Anthem Blue Cross</div>
                <div class="medal gold">Gold</div>
                <div class="you-saved">You Save</div>
                <div class="money-saved">$1400<span class="slash-year">/year</span></div>

                <div class="plan-details">
                    <br>
                    <div class="wheel-header">Estimated Cost</div>
                    <div class="red-cost" style="color: #b00; text-align: center; font-size: 40px; font-weight: 300;">-$2500</div>
                    <center>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <div class="wheel-header">Savings</div>
                    <div class="red-cost" style="color: #2fcfaa; text-align: center; font-size: 40px; font-weight: 300;">+$3900</div>
                    <center>
                        <div>Annual Premium: $2000</div>
                        <div>Something Premium: $500</div>
                    </center>
                    <br><br>
                    <button class="btn btn-primary btn-lg" style="width: 100%;">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
