{% extends "base.html" %}

{% block head %}
    {% load scss %}
    <link href="{{ STATIC_URL }}{% scss 'scss/home.scss' %}" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/external/fancySelect.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/fancySelect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/home-donuts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
    <script id="medical-embed" type="text/html">{% include "home/medical-popover.html" %}</script>
    <script id="prescription-embed" type="text/html">{% include "home/prescription-popover.html" %}</script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#medical-popover").popover({
            trigger: "hover focus",
            title: "Medical Visit Estimates",
            placement: "right",
            html: true,
            content: $("#medical-embed").html()
        });

        $("#prescription-popover").popover({
            trigger: "hover focus",
            title: "Prescription Use Estimates",
            placement: "right",
            html: true,
            content: $("#prescription-embed").html()
        });
        $(".deductible-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>A specified amount of money that the insured must pay before an insurance company will pay a claim.</div>",
            container: "body"
        });
        
        $(".pocket-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>Total dollar amount an insured will be required to pay for covered medical services during a specified period, such as one year. The out-of-pocket maximum may also be called the stop-loss limit or catastrophic expense limit.</div>",
            container: "body"
        });
        
        $(".insurance-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>A co-sharing agreement between the insured and the insurer under a health insurance policy which provides that the insured will cover a set percentage of the covered costs after the deductible has been paid.</div>",
            container: "body"
        });
        
        $(".premium-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>The total cost of the policy on a yearly basis. Most people pay on a monthly or quarterly basis and are more familiar with those amounts.</div>",
            container: "body"
        });
        
        $(".prescription-cost-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>The specified amount of payment required periodically by an insurer to provide coverage under a given insurance plan for a defined period of time. The premium is paid by the insured party to the insurer, and primarily compensates the insurer for bearing the risk of a payout should the insurance agreement's coverage be required.</div>",
            container: "body"
        });
        
        $(".doctor-popover").popover({
            trigger: "hover focus",
            placement: "top",
            html: true,
            content: "<div class='popover-body'>The average cost to visit the doctor with this plan.</div>",
            container: "body"
        });
    })
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "home/info-col.html" %}
        {% include "home/plan-cols.html" %}
        {% include "home/plan-modals.html" %}
    </div>
    <div id="testing"></div>
</div>
{% endblock %}
