<div class="medical-container">
    <div class="row medical-tip">
        <div class="col-md-12">Listed are estimates of yearly doctor visits <b>per person</b>.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Low</div>
        <div class="col-md-9"><span class="visit-num">1 - 2</span> doctor visits per year.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Medium</div>
        <div class="col-md-9"><span class="visit-num">5 - 6</span> doctor visits per year.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">High</div>
        <div class="col-md-9"><span class="visit-num">Monthly</span> doctor visits.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Very High</div>
        <div class="col-md-9"><span class="visit-num">20+</span> doctor visits per year.</div>
    </div>
</div>