<!-- Modal -->
<div class="modal fade plan-modal" id="plan-modal-{{ plan_num }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ plan_num }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel{{ plan_num }}">Anthem Blue Cross</h4>
      </div>
      <div class="modal-body">
        <div class="monthly-payment">
            Monthly Premium
            <div class="cost"></div>
            <a href="" target="_blank" class="btn btn-primary btn-lg go-to">Go to Anthem Blue Cross</a>
        </div>
        <div class="standard-benefits">
            <div id="modal-medal-{{plan_num}}" class="title">
            </div>
            <table class="table">
              <thead></thead>
              <tbody>
                  <tr>
                      <td class="table-label">Deductible</td>
                      <td id="modal-deductible-{{plan_num}}" class="data"></td>
                  </tr>
                  <tr>
                      <td class="table-label">Out-of-pocket Maximum</td>
                      <td id="modal-out-of-pocket-max-{{plan_num}}" class="data"></td>
                  </tr>
                  <tr>
                      <td class="table-label">Co-insurance Rate</td>
                      <td id="modal-co-insurance-{{plan_num}}" class="data"></td>
                  </tr>
              </tbody>
            </table>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->