<div class="col-xs-12 col-sm-6 col-md-9">
    <div class="col-md-4 plan-col plan-col-1">
        <div class="plan-name zero">No plan available</div>
        <div class="plan-name nonzero hide-me">Anthem Blue Cross</div>

        <div class="medal zero">---</div>
        <div class="medal silver nonzero hide-me">Silver</div>

        <div class="you-saved">You Save</div>

        <div class="money-saved nonzero hide-me">$1400<span class="slash-year">/year</span></div>
        <div class="money-saved zero">$0</div>

        <div class="plan-details">
            <div class="wheel-header cost">Estimated Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
            <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>

            <div class="wheel-header save">Savings</div>
            <center>
                <div class="estimated-save-donut">
                    <!-- d3 injected -->
                </div>
                <div>Annual Premium: $2000</div>
                <div>Something Premium: $500</div>
            </center>
            <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
        </div>
    </div> <!-- end .plan-col -->

    <div class="col-md-4 plan-col plan-col-2">
        <div class="plan-name zero">No plan available</div>
        <div class="plan-name nonzero hide-me">Anthem Blue Cross</div>

        <div class="medal zero">---</div>
        <div class="medal silver nonzero hide-me">Silver</div>

        <div class="you-saved">You Save</div>

        <div class="money-saved nonzero hide-me">$1400<span class="slash-year">/year</span></div>
        <div class="money-saved zero">$0</div>

        <div class="plan-details">
            <div class="wheel-header cost">Estimated Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
                        <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>

            <div class="wheel-header save">Savings</div>
            <center>
                <div class="estimated-save-donut">
                    <!-- d3 injected -->
                </div>
                <div>Annual Premium: $2000</div>
                <div>Something Premium: $500</div>
            </center>
            <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
        </div>
    </div> <!-- end .plan-col -->

    <div class="col-md-4 plan-col plan-col-3">
        <div class="plan-name zero">No plan available</div>
        <div class="plan-name nonzero hide-me">Anthem Blue Cross</div>

        <div class="medal zero">---</div>
        <div class="medal silver nonzero hide-me">Silver</div>

        <div class="you-saved">You Save</div>

        <div class="money-saved nonzero hide-me">$1400<span class="slash-year">/year</span></div>
        <div class="money-saved zero">$0</div>

        <div class="plan-details">
            <div class="wheel-header cost">Estimated Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
            <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost:</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>

            <div class="wheel-header save">Savings</div>
            <center>
                <div class="estimated-save-donut">
                    <!-- d3 injected -->
                </div>
                <div>Annual Premium: $2000</div>
                <div>Something Premium: $500</div>
            </center>
            <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
        </div>
    </div> <!-- end .plan-col -->
</div> <!-- end .plan-col -->