<div class="col-xs-12 col-sm-6 col-md-9">
    <div class="col-md-4 plan-col plan-col-1">
        <div class="plan-name">Anthem Blue Cross</div>
        <div class="medal silver">Silver</div>
        <div class="monthly-premium-title">Monthly Premium</div>
        <div class="monthly-premium">$1400</div>

        <div class="plan-costs">
            <div class="wheel-header section-header cost">Estimated Annual Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
            <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="plan-details">
            <div class="section-header">Plan Details</div>
            <div class="detail deductible">
                <div class="title">Deductible</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail out-of-pocket-max">
                <div class="title">Out-of-pocket Maximum</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail co-insurance-rate">
                <div class="title">Co-insurance Rate</div>
                <div class="value">30%</div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
    </div> <!-- end .plan-col -->

    <div class="col-md-4 plan-col plan-col-2">
        <div class="plan-name">Anthem Blue Cross</div>
        <div class="medal silver">Silver</div>
        <div class="monthly-premium-title">Monthly Premium</div>
        <div class="monthly-premium">$1400</div>

        <div class="plan-costs">
            <div class="wheel-header section-header cost">Estimated Annual Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
            <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="plan-details">
            <div class="section-header">Plan Details</div>
            <div class="detail deductible">
                <div class="title">Deductible</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail out-of-pocket-max">
                <div class="title">Out-of-pocket Maximum</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail co-insurance-rate">
                <div class="title">Co-insurance Rate</div>
                <div class="value">30%</div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
    </div> <!-- end .plan-col -->

    <div class="col-md-4 plan-col plan-col-3">
        <div class="plan-name">Anthem Blue Cross</div>
        <div class="medal silver">Silver</div>
        <div class="monthly-premium-title">Monthly Premium</div>
        <div class="monthly-premium">$1400</div>

        <div class="plan-costs">
            <div class="wheel-header section-header cost">Estimated Annual Cost</div>
            <center>
                <div class="estimated-cost-donut">
                    <!-- d3 injected -->
                </div>
            </center>
            <div class="cost-detail annual_premium">
                <span class="pull-left">Annual Premium</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail doctor_cost">
                <span class="pull-left">Doctor Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
            <div class="cost-detail prescription_cost">
                <span class="pull-left">Prescription Cost</span>
                <span class="pull-right">
                    <span class="value">$500</span>
                </span>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="plan-details">
            <div class="section-header">Plan Details</div>
            <div class="detail deductible">
                <div class="title">Deductible</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail out-of-pocket-max">
                <div class="title">Out-of-pocket Maximum</div>
                <div class="value">$3000</div>
            </div>
            <div class="detail co-insurance-rate">
                <div class="title">Co-insurance Rate</div>
                <div class="value">30%</div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg learn-more" data-toggle="modal" data-target="#plan-modal-1">Learn More</button>
    </div> <!-- end .plan-col -->
</div> <!-- end .plan-col -->