<!-- Modal -->
<div class="modal fade plan-modal" id="plan-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel1">Anthem Blue Cross</h4>
      </div>
      <div class="modal-body">
        <div class="monthly-payment">
            Monthly Premium
            <div class="cost">$200</div>
            <div class="btn btn-primary btn-lg">Go to Anthem Blue Cross</div>
        </div>
{#        <div class="standard-benefits">#}
{#            <div class="title">#}
{#                Standard <span class="medal bronze">BRONZE</span> Benefits for Individuals#}
{#            </div>#}
{#            <table class="table">#}
{#                <thead></thead>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <td class="table-label">Individual Deductible</td>#}
{#                        <td class="data">$5,000 deductible for medical and drugs</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Family Deductible</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">#}
{#                            Preventive Care Copay#}
{#                            <br>#}
{#                            (deductible does not apply)#}
{#                        </td>#}
{#                        <td class="data">no cost <span class="sub-text">at least 1 yearly visit</span></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Primary Care Visit Copay</td>#}
{#                        <td class="data">$60</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Speciality Care Visit Copay</td>#}
{#                        <td class="data">$70</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Urgent Care Visit Copay</td>#}
{#                        <td class="data">$120</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Generic Medication Copay</td>#}
{#                        <td class="data">$19</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Lab Testing Copay</td>#}
{#                        <td class="data">30%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">X-Ray Copay</td>#}
{#                        <td class="data">30%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Emergency Room Copay</td>#}
{#                        <td class="data">$300</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">High Cost and Infrequent Services <br> (e.g. Hospital Stay) </td>#}
{#                        <td class="data">30% of your plan's negotiated plan</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Preferred Brand Copay after</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Family Deductible</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Family Deductible</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Family Deductible</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="table-label">Family Deductible</td>#}
{#                        <td class="data">$10,000</td>#}
{#                    </tr>#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- Modal -->
<div class="modal fade plan-modal" id="plan-modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade plan-modal" id="plan-modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel3">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->