<div class="medical-container">
    <div class="row medical-tip">
        <div class="col-md-12">Listed are estimates of prescription use <b>per person</b>.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Low</div>
        <div class="col-md-9"><span class="visit-num">0 - 1</span> prescriptions.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Medium</div>
        <div class="col-md-9"><span class="visit-num">1 - 2</span> prescriptions.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">High</div>
        <div class="col-md-9"><span class="visit-num">2 - 3</span> prescriptions.</div>
    </div>
    <div class="row">
        <div class="col-md-3 frequency">Very High</div>
        <div class="col-md-9"><span class="visit-num">4+</span> prescriptions.</div>
    </div>
</div>